/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-4-12, 13:31:41
    Author     : Administrator
*/

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}
.header-default {
    background-color: #cccccc;
    top:0px;
}
.login {
    position:relative;bottom:25px;right:30px;float:right;
}

.login-text {
    color:#0099cc;font-style:normal
}

.login-name {
    color:#cc66ff
}
.login-exit {
    left:10px;margin-left:10px;
}

.header-bg {
    padding-top: 0.5cm;
    padding-bottom:1cm;  
}

.content-box {
    margin-top:10px;
}
