/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-4-12, 13:31:41
    Author     : Administrator
*/

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/*去除前面序列*/
ul,ol,li{
    list-style: outside none none;
}

/*头标签*/
.header-default {
    background-color: #cccccc;
    top:0px;
}
.login {
    position:relative;bottom:25px;right:30px;float:right;
}

.login-text {
    color:#0099cc;font-style:normal
}

.login-name {
    color:#cc66ff
}
.login-exit {
    left:10px;margin-left:10px;
}

.header-bg {
    padding-top: 0.5cm;
    padding-bottom:1cm;  
}

.content-box {
    margin-top:10px;
}

/*注册页面*/
.regpage{
    position:relative; top:10px; left: 40%;
}
.regpage .label-val{
    display: block; margin-top: 15px;
}
.regpage .label-val input{
    height:25px;width:150px;border: 1px solid #e1e1e1;
}
.regpage .lable-lable{
    float: left;width: 4%
}
.regpage .buttion-out{
    position: relative;left: 80px;padding-top:5px;
}
.regpage .button-sub{
    padding: 2px 6px;border: 0 none; background: #3300ff none repeat scroll 0 0;color: white;
}


/* chat 页面 */

.chat-cont{
    margin-top:10px;margin-left: auto;margin-right: auto; width:60%;height:100%;
}
.chat-cont .tourist{
    position: relative; width: 20%;float:left;maigin-right:10%;background-color: red;
}
.chat-cont .tourist h3{
    text-align:center;
}
.chat-cont .tourist ul{
    margin-left: 20px;
}
.chat-cont .chat-text-area{
    height: 70%;width: 70%;float:right;
}
.chat-cont .chat-area{
    position:relative;width: 100%;height: 500px;resize:none;max-width: 100%;max-height: 500px;
}
.chat-cont .chat-area-sub{
    bottom:3%;position:relative;width: 100%;z-index: 1;margin-left: 80px;margin-top: 10px;
}
.chat-cont .chat-area-sub .areas{
    height:70px;width: 500px;resize: none;max-width: 500px;max-height: 70px;
}
.chat-cont .chat-area-sub .chat-sub{
    margin-left:20px;border: 0 none;width:70px;height:50px;font-size:20px;position: relative;bottom:23px;background-color:green;
}