<link rel="stylesheet" href="<!--{$skinpath}-->skin/css/bootstrap.css">
<link rel="stylesheet" href="<!--{$skinpath}-->skin/css/bootstrap-theme.min.css">
<script src="<!--{$skinpath}-->skin/js/jquery.min.js"></script>
<script src="<!--{$skinpath}-->skin/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header" style="padding-bottom:1cm">
				<ul class="nav nav-pills pull-right">
					<li class="active ">
						<a href="#">主页</a>
					</li>
					<li>
						<a href="#">关于</a>
					</li>
					<li>
						<a href="#">联系我们</a>
					</li>
				</ul>
				<h3 class="text-muted" style='text-indent: 5%'>
					只是测试
				</h3>
</div>