<link rel="stylesheet" href="<!--{$skinpath}-->skin/css/bootstrap.css">
<link rel="stylesheet" href="<!--{$skinpath}-->skin/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="<!--{$skinpath}-->skin/css/style.css">
<script src="<!--{$skinpath}-->skin/js/jquery.min.js"></script>
<script src="<!--{$skinpath}-->skin/js/layer/layer.js"></script>
<script src="<!--{$skinpath}-->skin/js/bootstrap.min.js"></script>
</head>
<body>
    <div class='header-default'>
        <div class="header header-bg">
                                    <ul class="nav nav-pills pull-right">
                                            <li <?php if($_SERVER['REQUEST_URI'] == '/'){ echo "class='active'"; } ?> >
                                                    <a href="http://<!--{$url}-->">主页</a>
                                            </li>
                                            <li>
                                                    <a href="#">关于</a>
                                            </li>
                                            <li <?php if(stripos($_SERVER['REQUEST_URI'],'chat') !== false){ echo "class='active'"; } ?>>
                                                    <a href="http://<!--{$url}-->/chat">联系我们</a>
                                            </li>
                                            <li <?php if(stripos($_SERVER['REQUEST_URI'],'observer') !== false){ echo "class='active'"; } ?>>
                                                    <a href="http://<!--{$url}-->/observer">观察者</a>
                                            </li>
                                            <li>
                                                <a href="http://<!--{$url}-->?de=true"  target="_blank">debug</a>
                                            </li>
                                    </ul>
                                    <h3 class="text-muted" style='text-indent: 5%'>
                                            只是测试
                                    </h3>
                                    <?php 
                                        if($user[0]['name']){
                                            echo "<div class=\"login\"><em class='login-text'>当前用户：</em><span class='login-name'>{$user[0]['name']}</span><a href='./index/exitLogin' class='login-exit'>退出</a></div>";
                                        }else{
                                            echo "<div class='login'><a href='../index/register'>注册</a></div>";
                                        } 
                                    ?>
        </div>
    </div>