<!DOCTYPE html>
<html>
<head>
<title>联系</title>
<include file="skin/inc/header" />
<div class="chat-cont">
    <div class="chat-cont tourist">
        <h3>222：</h3>
        <ul>
            <li>12</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
    <div class="chat-text-area">
       <div>
           <ul id="screen-talk" style="height: 700px;background-color:#ccffff;">
                <li style="float:none;clear:both;padding-left: 10px;">12</li>
            </ul>
       </div>
        <div class="chat-area-sub">
            <textarea name='talk' class="areas" wrap="hard"></textarea>
            <button class="chat-sub">发言</button>
        </div>
    </div>
</div>
<include file="skin/inc/footer" />
<script>
    window.onload=function(){
        var user = "<!--{$user.0.user}-->";
        $('.chat-sub').on('click',function(){
            var value = $('textarea[name=talk]').val(); 
            if(value.length==0 || value.length>=50){
                layer.alert('长度不能超过50');
                return;
            }
            if(user == ''){
                layer.alert('登录后再来',function(){
                   window.location.href="http://<!--{$url}-->";
                    return;
                });
                return;
            }
            $('.chat-sub').attr('disabled',true);
            $('.chat-sub').css('background-color','#cccccc');
            setTimeout("$('.chat-sub').attr('disabled',false)",2000);
            setTimeout("$('.chat-sub').css('background-color','green')",2000);  
            $('#screen-talk li').last('').after("<li style='float:right;clear:both;padding-right:10px;margin-top:3px;word-wrap:break-word;'>"+user+'(2):'+value+"</li>");    
        })
    }
    
    /*window.onunload = function(){
        $.post('./chat/ajax_close',function(){
            
        },'json');
    };*/
</script>
</body>
</html>
